{% extends 'base.html.twig' %}

{% block title %}Component index{% endblock %}

{% block body %}
    <h1>Index</h1>

    <ul class="nav nav-tabs" id="tabs">
        <li class="nav-item nav-link" id="resistor-tab">
            <a href="{{ path('app_component_index', {'type': 'resistor'}) }}"
               class="text-decoration-none">Resistors</a>
            <a href="{{ path('app_component_new', {'type': 'resistor'}) }}">
                <i class="bi bi-plus-circle"></i>
            </a>
        </li>
        <li class="nav-item nav-link" id="capacitor-tab">
            <a href="{{ path('app_component_index', {'type': 'capacitor'}) }}"
               class="text-decoration-none">Capacitors</a>
            <a href="{{ path('app_component_new', {'type': 'capacitor'}) }}">
                <i class="bi bi-plus-circle"></i>
            </a>
        </li>
        <li class="nav-item nav-link" id="inductor-tab">
            <a href="{{ path('app_component_index', {'type': 'inductor'}) }}"
               class="text-decoration-none">Inductors</a>
            <a href="{{ path('app_component_new', {'type': 'inductor'}) }}">
                <i class="bi bi-plus-circle"></i>
            </a>
        </li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            {% for field in fields %}
                <th class="text-center">
                    {{ field }}
                    <i class="bi-sort-up"></i>
                    <i class="bi-sort-down"></i>
                </th>
            {% endfor %}
            <th class="text-center">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for component in components %}
            <tr>
                {% for field in fields %}
                    <td class="text-center align-middle">{{ attribute(component, field) }}</td>
                {% endfor %}
                <td>
                    {{ include('component/_actions.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
                let activeTab = document.querySelector("#{{ type }}-tab");
                activeTab.className += " active";
            }
        )
    </script>
{% endblock %}