{% extends 'component/base.html.twig' %}

{% block title %}Component index{% endblock %}

{% block table %}
    <form id="filters" action="{{ path('app_component_index', {'type':type}) }}">
        <h4>Filters</h4>
        <label for="field">Field:</label>
        <select name="field" id="field">
            {% for field in fields %}
                <option value="{{ field }}">{{ field }}</option>
            {% endfor %}
        </select>
        <label for="value">Value:</label>
        <input type="text" id="value" name="value">
        <button class="btn btn-primary">Search</button>
    </form>

    <table id="t-{{ type }}" class="table">
        <thead>
        <tr>
            {% for field in fields %}
                <th class="text-center">
                    {{ field }}
                    <a href="{{ path('app_component_index', {'type': type, 'sort':field}) }}"><span
                                class="bi-sort-up"></span></a>
                    <a href="{{ path('app_component_index', {'type': type, 'sort':field, 'asc':'true'}) }}"><span
                                class="bi-sort-down"></span></a>
                </th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for component in components %}
            <tr>
                {% for field in fields %}
                    <td class="text-center align-middle">{{ attribute(component, field) }}</td>
                {% endfor %}
                <td>
                    {{ include('component/_actions.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            let activeTab = document.querySelector("#{{ type }}-tab");
            activeTab.className += " active";
        });
    </script>
{% endblock %}