{% extends 'base.html.twig' %}

{% block title %}Component index{% endblock %}

{% block body %}
    <h1>Index</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item nav-link active">
            <a href="{{ path('app_component_index', {'type': 'resistor'}) }}">Resistors</a>
            <a href="{{ path('app_component_new', {'type': 'resistor'}) }}"><i
                        class="bi bi-plus-circle"></i></a>
        </li>
        <li class="nav-item nav-link">
            <a href="{{ path('app_component_index', {'type': 'capacitor'}) }}">Capacitors</a>
            <a href="{{ path('app_component_new', {'type': 'capacitor'}) }}"><i
                        class="bi bi-plus-circle"></i></a>
        </li>
        <li class="nav-item nav-link">
            <a href="{{ path('app_component_index', {'type': 'inductor'}) }}">Inductors</a>
            <a href="{{ path('app_component_new', {'type': 'inductor'}) }}"><i
                        class="bi bi-plus-circle"></i></a>
        </li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            {% for field in fields %}
                <th> {{ field }}</th>
            {% endfor %}
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for component in components %}
            <tr>
                {% for field in fields %}
                    <td>{{ attribute(component, field) }}</td>
                {% endfor %}
                <td>
                    <a href="{{ path('app_component_show', {'id': component.id}) }}">show</a>
                    <a href="{{ path('app_component_edit', {'id': component.id}) }}">edit</a>
                    {{ include('component/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        let triggerTabList = [].slice.call(document.querySelectorAll('#componentTab button'))
        triggerTabList.forEach(function (triggerEl) {
            let tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    </script>
{% endblock %}