{% extends 'base.html.twig' %}

{% block title %}Component{% endblock %}

{% block body %}
    <h1>Component</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td colspan="100%">{{ component.name }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ component.value }}</td>
            <td>{{ unit }}</td>
        </tr>
        <tr>
            <th>Tolerance</th>
            <td>{{ component.tolerance }}</td>
            <td>%</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ component.price }}</td>
            <td>€</td>
        </tr>
        {% for field in fields %}
            <tr>
                <th>{{ field.name|capitalize }}</th>
                <td>{{ attribute(component, field.name) }}</td>
                <td>{{ field.unit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Manufacturers</h4>
    <ul class="manufacturers">
        {% for manufacturer in component.manufacturers %}
            <li>{{ manufacturer.name }}</li>
        {% else %}
            <p>No manufacturers</p>
        {% endfor %}
    </ul>

    <h4>Providers</h4>
    <ul class="providers">
        {% for provider in component.providers %}
            <li>{{ provider.name }}</li>
        {% else %}
            <p>No providers</p>
        {% endfor %}
    </ul>

    <a href="{{ path('app_component_base') }}">back to list</a>

    <a href="{{ path('app_component_edit', {'id': component.id}) }}">edit</a>

    {{ include('component/_delete_form.html.twig') }}
{% endblock %}
