<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {# encore_entry_script_tags('app') #}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            window.bootstrap = require('bootstrap/dist/js/bootstrap.bundle.js');
        </script>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">EleComp</span>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_component_base' ) }}">Components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_project_index') }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_manufacturer_index') }}">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_provider_index') }}">Providers</a>
                </li>
            </ul>
            <span class="navbar-text navbar-right">{{ app.user.email }}</span>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><span class="bi bi-box-arrow-right"></span>
                        Logout</a>
                </li>
            </ul>
        {% endif %}

    </div>
</nav>

{% block body %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
