{{ form_start(form) }}
    {{ form_widget(form) }}
<h3>Items</h3>
<ul class="projectItems">
    {% for projectItem in form.projectItems %}
    <li>{{ form_row(projectItem.componentId) }}</li>
    {% end for %}
</ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
