{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ project.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ project.description }}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <h3>Components</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
            {% for item in project.projectItems %}
                <tr>
                    <td>{{ item.component.name }}</td>
                    <td>{{ item.qty }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{{ path('app_project_index') }}">back to list</a>

    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
